# Top-level configurations
/* @aroba-dn
/.github/ @aroba-dn
/.husky/ @aroba-dn
/.vscode/ @aroba-dn
/.changeset/config.json @aroba-dn

# Excluded shared files
/pnpm-lock.yaml
/README.md
/AGENTS.md
/CONTEXT.md

# Design System internal configurations
/packages/design-system/.storybook/ @aroba-dn
/packages/design-system/rolldown/ @aroba-dn
/packages/design-system/vitest/ @aroba-dn
/packages/design-system/* @aroba-dn

# MCP server internal configurations
/packages/mcp/* @aroba-dn

# ESLint plugin internal configurations
/packages/eslint-plugin/* @aroba-dn

# Vite plugin
/packages/vite-plugin

# Internal packages
/packages/commitlint-plugin-internal/
/packages/eslint-plugin-internal/

# Excluded publishable packages files
/packages/design-system/*.md
/packages/design-system/package.json
/packages/design-system/.gitignore

/packages/eslint-plugin/*.md
/packages/eslint-plugin/package.json

/packages/vite-plugin/*.md
/packages/vite-plugin/package.json

/packages/mcp/*.md
/packages/mcp/package.json
