.root {
	position: relative;
	background: var(--white);
	padding: var(--spacing-6);
	width: 340px;
	border-inline-end: 1px solid transparent;

	&[data-state='open']:hover,
	&[data-state='open']:focus-within {
		border-color: var(--color-border);
	}

	&[data-state='closed'] {
		display: none;
	}

	&.variantFloating {
		position: absolute;
		inset-inline-start: var(--spacing-3);
		top: var(--spacing-3);
		border: none;
		border-radius: var(--spacing-2);
		filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.22));
	}

	&.dragging {
		cursor: grabbing;
		user-select: none;
	}

	&.disablePadding {
		padding: 0;
	}
}

.trigger {
	--size: 28px;

	position: absolute;
	cursor: pointer;
	user-select: none;
	display: none;
	height: var(--size);
	width: var(--size);
	padding: 1px;
	border: 1px solid var(--color-border-secondary);
	border-radius: 100%;
	background: var(--white);
	color: var(--color-icon-secondary);
	top: var(--spacing-6);
	inset-inline-start: 100%;
	margin-inline-start: calc(var(--size) / -2);

	&[data-state='closed'],
	&.triggerCollapsed {
		rotate: y 180deg;
	}

	.root:hover &,
	.root:focus-within & {
		display: flex;
	}

	&:hover,
	&:focus {
		color: var(--color-icon-primary);
		border-color: var(--color-border-action-primary);
		outline: none;
		background: var(--color-background-action-tertiary);

		.root:has(&) {
			border-color: var(--color-border-action-primary);

			// Add an inset single-sided border on hover without affecting the layout.
			&.variantDocked[data-state='open']::before {
				content: '';
				display: block;
				position: absolute;
				height: 100%;
				width: 1px;
				top: 0;
				inset-inline-end: 0;
				background: var(--color-border-action-primary);
				pointer-events: none;
			}
		}
	}

	// Increase surface size for better clickability.
	&::after {
		content: '';
		position: absolute;
		inset: calc(-1 * var(--spacing-1));
	}

	.root.variantFloating & {
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
	}
}
