@use '../../styles/typography';

$form-control-description-max-lines: 2;
$form-control-description-line-height: 1.4;
$form-control-description-max-height: calc(
	$form-control-description-line-height * $form-control-description-max-lines * 1em
);

.container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4xs);

	&.success {
		.message {
			color: var(--color-background-success-strong);
		}
	}

	&.warning {
		.message {
			color: var(--color-font-warning);
		}
	}

	&.error {
		--form-control-border-color: var(--color-background-danger-strong);
		--form-control-selection-color: var(--color-background-danger-weak);

		.message {
			color: var(--color-background-danger-strong);
		}
	}
}

.labelContainer {
	display: flex;
	align-items: center;
	gap: var(--spacing-4xs);
}

.label {
	@include typography.body-sm-reg;
	color: var(--color-font-main);

	&.required::after {
		@include typography.body-sm-reg;
		content: '*';
		position: relative;
		top: -1px;
		right: -1px;
		color: var(--color-icon-danger);
	}

	&.disabled {
		color: var(--color-background-disabled);

		&::after {
			color: var(--color-font-disabled);
		}
	}
}

.endAdornment {
	display: flex;
	align-items: center;
	justify-content: center;
}

.description {
	@include typography.p-s;
	color: var(--neutral-2);
	line-height: $form-control-description-line-height;
	max-height: $form-control-description-max-height;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $form-control-description-max-lines;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.controlWrapper {
	position: relative;

	&.input {
		.control {
			padding: 7px 16px;
			line-height: 24px;
			font-style: normal;
		}

		.icon {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.textarea {
		.control {
			padding: 12px 16px;
			min-height: 100px;

			&:disabled {
				resize: none;
			}
		}

		.icon {
			top: 10px;
		}
	}

	.control.withIcon {
		padding-left: 40px;
	}

	.icon {
		position: absolute;
		pointer-events: none;
		color: var(--neutral-3);
	}

	.icon {
		left: 12px;
	}
}

.message {
	@include typography.body-xs-reg;
	color: var(--color-font-secondary);
	display: flex;
	align-items: center;
	gap: 4px;
	padding-top: 2px;
}
