.progressInfographic {
	width: 100%;
	height: 20px;
	background-color: var(--neutral-10);
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid var(--neutral-6);

	& > .bar {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 10px;
		font-weight: bold;
		transition: width 0.3s ease-in-out;

		&--low {
			background-color: var(--system-status-error);
		}

		&--medium {
			background-color: var(--system-status-info);
		}

		&--high {
			background-color: var(--system-status-ok);
		}
	}
}
