// typography is defined in: https://www.figma.com/design/XJwVCvDPhD0dMTP4vr3xY3/%F0%9F%A6%95-%F0%9F%AA%86Style-%26-Design-System?node-id=4804-91960&node-type=frame&t=6LW93tAe2no6Rhgx-0
@use 'variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
	font-family: var.$font-family-primary;
}

@mixin base-font {
	font-family: var.$font-family-base;
	font-weight: var.$font-weight-regular;
	letter-spacing: 0;
	text-align: left;
}

@mixin line-clamp($lines: 2) {
	overflow: hidden;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
}

@mixin ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

h1,
.h1 {
	@include base-font;
	font-size: var.$font-size-h1;
	line-height: var.$line-height-h1;
}

h2,
.h2 {
	@include base-font;
	font-size: var.$font-size-h2;
	line-height: var.$line-height-h2;
}

h3,
.h3 {
	@include base-font;
	font-size: var.$font-size-h3;
	line-height: var.$line-height-h3;
}

h4,
.h4 {
	@include base-font;
	font-size: var.$font-size-h4;
	line-height: var.$line-height-h4;
}

h5,
.h5 {
	@include base-font;
	font-size: var.$font-size-h5;
	line-height: var.$line-height-h5;
}

h6,
.h6 {
	@include base-font;
	font-size: var.$font-size-h6;
	line-height: var.$line-height-h6;
}

h7,
.h7 {
	@include base-font;
	font-size: var.$font-size-h7;
	line-height: var.$line-height-h7;
}

.p-xl {
	@include base-font;
	font-size: var.$font-size-p-xl;
	line-height: var.$line-height-p-xl;
}

.p-lg {
	@include base-font;
	font-size: var.$font-size-p-lg;
	line-height: var.$line-height-p-lg;
}

.p-base {
	@include base-font;
	font-size: var.$font-size-p-base;
	line-height: var.$line-height-p-base;
}

.p-special {
	@include base-font;
	font-size: var.$font-size-p-special;
	line-height: var.$line-height-p-special;
}

.p-s {
	@include base-font;
	font-size: var.$font-size-p-s;
	line-height: var.$line-height-p-s;
}

.action {
	@include base-font;
	font-size: var.$font-size-action;
	line-height: var.$line-height-action;
}

.action-lg {
	@include base-font;
	font-size: var.$font-size-action-lg;
	line-height: var.$line-height-action-lg;
}

.action-med {
	@include base-font;
	font-size: var.$font-size-action-med;
	line-height: var.$line-height-action-med;
}

.action-small {
	@include base-font;
	font-size: var.$font-size-action-small;
	line-height: var.$line-height-action-small;
}

.bold {
	font-weight: var.$font-weight-bold;
}

.medium {
	font-weight: var.$font-weight-medium;
}

.regular {
	font-weight: var.$font-weight-regular;
}

.light {
	font-weight: var.$font-weight-light;
}

// New for DS v1.2

:root {
	/* Family */
	--font-family-base: 'Roboto', sans-serif;
	--font-family-code: 'Fira Mono', monospace;

	/* Font weight */
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;

	/* Font size / heading */
	--font-size-3xl: 32px;
	--font-size-2xl: 24px;
	--font-size-xl: 20px;
	--font-size-large: 18px;

	/* Font size / body */
	--font-size-md: 16px;
	--font-size-sm: 14px;
	--font-size-xs: 12px;

	/* Line height / heading */
	--line-height-3xl: 40px;
	--line-height-2xl: 32px;
	--line-height-xl: 26px;
	--line-height-large: 24px;

	/* Line height / body */
	--line-height-md: 24px;
	--line-height-sm: 20px;
	--line-height-xs: 16px;

	/* Paragraph spacing / heading */
	--paragraph-spacing-3xl: 40;
	--paragraph-spacing-2xl: 24;
	--paragraph-spacing-xl: 20;
	--paragraph-spacing-large: 20;

	/* Paragraph spacing / body */
	--paragraph-spacing-md: 20;
	--paragraph-spacing-sm: 16;
	--paragraph-spacing-xs: 8;

	/* Letter spacing */
	--letter-spacing--1percent: -0.01em; // -1% letter spacing for headings
}

// TODO below needs to be removed
@mixin font-base {
	font-family: var(--font-family-base);
	font-style: normal;
	letter-spacing: 0;
}

@mixin link-base {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: none;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

@mixin code-base {
	font-family: var(--font-family-code);
	font-style: normal;
	letter-spacing: 0;
	text-align: left;
	// Enable ligatures for better code readability
	font-feature-settings:
		'liga' 1,
		'calt' 1;
}

.heading1 {
	@include font-base;
	font-size: var(--font-size-3xl);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--line-height-3xl);
	letter-spacing: var(--letter-spacing--1percent);
}

.heading2 {
	@include font-base;
	font-size: var(--font-size-2xl);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--line-height-2xl);
	letter-spacing: var(--letter-spacing--1percent);
}

.heading3 {
	@include font-base;
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--line-height-xl);
	letter-spacing: var(--letter-spacing--1percent);
}

.heading4 {
	@include font-base;
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--line-height-large);
	letter-spacing: var(--letter-spacing--1percent);
}

@mixin body-md($font-weight: var(--font-weight-regular)) {
	@include font-base;
	font-size: var(--font-size-md);
	font-weight: $font-weight;
	line-height: var(--line-height-md);
	letter-spacing: var(--letter-spacing--1percent);
}

.body-md-reg {
	@include body-md;
}

.body-md-md {
	@include body-md(var(--font-weight-medium));
}

.body-md-semi-bold {
	@include body-md(var(--font-weight-semi-bold));
}

.body-md-bold {
	@include body-md(var(--font-weight-bold));
}

.body-md-link {
	@include body-md;
	@include link-base;
}

@mixin body-sm($font-weight: var(--font-weight-regular)) {
	@include font-base;
	font-size: var(--font-size-sm);
	font-weight: $font-weight;
	line-height: var(--line-height-sm);
	letter-spacing: var(--letter-spacing--1percent);
}

.body-sm-reg {
	@include body-sm;
}

.body-sm-md {
	@include body-sm(var(--font-weight-medium));
}

.body-sm-semi-bold {
	@include body-sm(var(--font-weight-semi-bold));
}

.body-sm-bold {
	@include body-sm(var(--font-weight-bold));
}

.body-sm-link {
	@include body-sm;
	@include link-base;
}

@mixin body-xs($font-weight: var(--font-weight-regular)) {
	@include font-base;
	font-size: var(--font-size-xs);
	font-weight: $font-weight;
	line-height: var(--line-height-xs);
}

.body-xs-reg {
	@include body-xs;
}

.body-xs-md {
	@include body-xs(var(--font-weight-medium));
}

.body-xs-semi-bold {
	@include body-xs(var(--font-weight-semi-bold));
}

.body-xs-bold {
	@include body-xs(var(--font-weight-bold));
}

.body-xs-link {
	@include body-xs;
	@include link-base;
}

@mixin code-sm($font-weight: var(--font-weight-regular)) {
	@include code-base;
	font-size: var(--font-size-sm);
	font-weight: $font-weight;
	line-height: var(--line-height-sm);
	letter-spacing: var(--letter-spacing--1percent);
}

.code-sm-reg {
	@include code-sm;
}

.code-sm-semi-bold {
	@include code-sm(var(--font-weight-semi-bold));
}

@mixin code-xs($font-weight: var(--font-weight-regular)) {
	@include code-base;
	font-size: var(--font-size-xs);
	font-weight: $font-weight;
	line-height: var(--line-height-xs);
	letter-spacing: var(--letter-spacing--1percent);
}

.code-xs-reg {
	@include code-xs;
}

.code-xs-semi-bold {
	@include code-xs(var(--font-weight-semi-bold));
}
