@use '../../styles/typography';

.tooltip {
	color: var(--color-font-on-action);
	background-color: var(--color-background-brand);
	padding: var(--spacing-xs) var(--spacing-sm);
	border-radius: var(--exo-spacing-2x-small);
	// approx. 6 grid columns
	max-width: 384px;
	z-index: 9999;

	.content {
		@include typography.line-clamp(3);
	}
}

.arrow {
	fill: var(--neutral-1);
}
