@use '../../styles/mixin' as mixins;

$border-radius: 8px;
$min-width-small: 224px;
$min-width-medium: 264px;
$min-width-large: 368px;
$transition-duration: 0.2s;

.root {
	position: relative;
	display: flex;
	flex-direction: column;
	background: var(--color-background);
	border: 1px solid var(--color-border-contrast);
	overflow: hidden;
	box-sizing: border-box;
	border-radius: $border-radius;

	@include mixins.disabled-overlay;
}

.root[data-size='small'] {
	min-width: $min-width-small;

	.header,
	.body,
	.footer {
		padding: var(--spacing-xs) var(--spacing-sm);
	}
}

.root[data-size='medium'] {
	min-width: $min-width-medium;

	.header,
	.body,
	.footer {
		padding: var(--spacing-xs) var(--spacing-standard);
	}
}

.root[data-size='large'] {
	min-width: $min-width-large;

	.header,
	.body,
	.footer {
		padding: var(--spacing-xs) var(--spacing-xl);
	}
}

.root[data-selectable] {
	cursor: pointer;
	transition:
		border-color $transition-duration ease-in-out,
		box-shadow $transition-duration ease-in-out,
		background-color $transition-duration ease-in-out;

	&:focus {
		outline: none;
	}

	&:hover:not([data-disabled]):not([data-selected]) {
		border-color: var(--color-border-action-secondary);
	}

	&:focus-visible:not([data-selected]),
	&[data-focus-visible]:not([data-selected]) {
		border-color: var(--color-border-action-secondary);
		box-shadow: inset 0 0 0 1px var(--color-border-action-secondary);
		outline: none;
	}

	&:focus-visible[data-selected],
	&[data-focus-visible][data-selected] {
		outline: none;
	}

	&[data-disabled] {
		cursor: not-allowed;
		border-color: var(--color-border-disabled);
	}
}

.root[data-selected] {
	border-color: var(--color-border-action-primary);

	&:hover:not([data-disabled]),
	&:focus-visible,
	&[data-focus-visible] {
		box-shadow: inset 0 0 0 1px var(--color-border-action-primary);
	}

	&[data-highlight] {
		background: var(--color-background-selected-weak);
	}
}

.header {
	display: flex;
	align-items: center;
}

.body {
	flex: 1;
}

.footer {
	display: flex;
	align-items: center;
}
