.catalogHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 54px;
	padding: 0 var(--standard) 0 0;
	border-bottom: 1px solid var(--border);
	background: var(--background);
}

.catalogHeaderLeading {
	display: flex;
	flex: 1;
	align-items: center;
	min-width: 0;
}

.catalogHeaderLogo {
	flex-shrink: 0;
	width: 174px;
	height: 54px;
	background: radial-gradient(
		ellipse at 28% 40%,
		rgba(1, 75, 253, 1) 0%,
		rgba(10, 60, 194, 1) 46%,
		rgba(21, 42, 126, 1) 100%
	);
}

.catalogHeaderBreadcrumbs {
	display: flex;
	align-items: center;
	margin-inline-start: var(--standard);
}

.catalogHeaderTrailing {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	gap: var(--standard);
}

.catalogHeaderUserMenu {
	display: flex;
	align-items: center;
	gap: var(--3xs);
}

.contentHeaderActions {
	display: flex;
	align-items: center;
	gap: var(--xs);
}

.contentHeaderSearch {
	width: 280px;
}

.tableWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.fillParentWrapper {
	height: 400px;
	border: 2px dashed var(--border);
}
