.storiesContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-standard);
	padding: var(--spacing-large);
}

.row {
	display: grid;
	grid-template-columns: 100px repeat(4, 80px);
	gap: var(--spacing-standard);
	align-items: center;
}

.label {
	font-weight: 500;
	text-align: center;
	color: var(--color-font-main);
	text-transform: capitalize;
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
}
