.running {
	color: var(--color-primary-700-default);
}

.warning {
	color: var(--color-warning-400);
}

.failed {
	color: var(--color-negative-400-default);
}

.paused {
	color: var(--color-purple-600);
}

.inactive {
	color: var(--color-font-disabled);
}
