.container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	padding: var(--spacing-xs) var(--spacing-standard);
	background: var(--color-background-selected-weak);
	border: 1px solid var(--color-outline-weak);
	border-radius: var(--spacing-3xs);
	max-height: 100px;
	overflow: hidden;

	&.expanded {
		max-height: none;
	}
}

.header {
	display: flex;
	align-items: center;
	width: 100%;
	gap: var(--spacing-xs);
	flex-shrink: 0;
}

.headerActions {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	flex-shrink: 0;
	margin-left: auto;
}

.tagsArea {
	display: flex;
	align-items: center;
	width: 100%;
	gap: var(--spacing-xs);
	flex-wrap: wrap;
}

.label {
	color: var(--color-font-secondary);
	white-space: nowrap;
	flex-shrink: 0;
}

.itemCheckbox {
	display: flex;
	align-items: center;
}

.ghostButtonContent {
	background: transparent !important;
}

.actionButton {
	padding: 0;
	flex-shrink: 0;
}

.measurementContainer {
	pointer-events: none;
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
}
