.approveStep {
	background: var(--color-background-success) !important;
}

.approveButton {
	background: var(--color-background-success-strong) !important;
	color: var(--color-secondary-white) !important;
}

.approveTitle {
	color: var(--color-background-success-strong) !important;
}

.approveIcon {
	background: var(--color-background-success-strong) !important;
}
