.divider {
	display: block;

	border: 0;
	padding: 0;
	color: transparent;

	background-color: var(--color-border-secondary);
	flex-shrink: 0;
}

.horizontal {
	width: 100%;
	height: 1px;
}

.vertical {
	width: 1px;
	height: auto;
	align-self: stretch;
}
